DEP_PORT=3002
DEP_CACHE_CHECK_PERIOD_SECONDS=500
DEP_CACHE_MAX_KEYS=5000
DEP_CACHE_MAX_KEY_TTL_MINUTES=10080
DEP_CACHE_MAX_KEY_EXPIRE_CLICKS=1000
DEP_CACHE_MAX_BODY_SIZE_KB=50
DEP_RL_WINDOW_MINUTES=5
DEP_RL_REQUESTS_IN_WINDOW=100
DEP_RL_NUMBER_OF_PROXIES=2
MCP_API_BASE_URL=http://127.0.0.1:3002
MCP_PUBLIC_DOMAIN=dep.leighonline.net
MCP_HOST=0.0.0.0
MCP_PORT=8090
DEP_SQLITE_PATH=./data/secrets.db