<div class="container">
    <h1>Enter your secret</h1>

    <form id="secret-form">
      <div>
        <textarea id="secret" maxlength="1000"></textarea>
      </div>

      <div>
        <h4>Validity Period</h4>
        <div class="slider-container">
          <label for="minutes">Minutes:</label>
          <input type="range" id="minutes" min="0" max="59" value="0" oninput="updateValue('minutes', this.value)">
          <span id="minutes-value" class="slider-value">0</span>
        </div>
        <div class="slider-container">
          <label for="hours">Hours:</label>
          <input type="range" id="hours" min="0" max="23" value="12" oninput="updateValue('hours', this.value)">
          <span id="hours-value" class="slider-value">12</span>
        </div>
        <div class="slider-container">
          <label for="days">Days:</label>
          <input type="range" id="days" min="0" max="6" value="0" oninput="updateValue('days', this.value)">
          <span id="days-value" class="slider-value">0</span>
        </div>
      </div>

      <div>
        <h4>Clicks before expiry</h4>
        <div class="slider-container">
          <input type="range" id="clicks" min="7" max="200" value="20" oninput="updateValue('clicks', this.value)">
          <span id="clicks-value" class="slider-value">20</span>
        </div>
      </div>

      <button type="submit">Submit</button>
    </form>

    <div id="response-message">
      <span id="response-text"></span>
      <br/>
      <button id="copy-btn" onclick="copyToClipboard()">Copy to Clipboard</button>
    </div>
  </div>